* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*      HEADER      */
.roseform {
    position: relative;
}

#logo{
    width: 15%;
    height: auto;
}

li {
    display:inline;
    color: gray;
}

ul{
    position: absolute;
    bottom: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.roseform {
    height: 8em;
    /* background-color: #E579E6; */
    margin-top: 25px;
    margin-bottom: 25px;
}

/*      IMPOSTAZIONE DEL MAIN       */
.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.sand-box {
    width: auto;
    height: 600px;
    margin-bottom: 25px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
    border-radius: 10px;    
}

.testosubanner{
    width: 30%;
    height: 10%;
    position: absolute;
    color: white;
    bottom: 5%;
    left: 15%;
    
}
.title{
    display: block;
    font-size: 200%;
}

.description {
    font-size: 80%;
}

.azurewindows,.float {
    position:relative;
}

.float {
    float: left;
}

.pediment {
    height: 5em;
}

.subtitle {
    color: gray;
}

.columnsx, .columndx {
    height: 30em;
    width: 20%;
    color: gray;
}

.columnsx {
    margin-top: 5px;
    background-image: url("../img/img-1.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
}

.commontest {
    position: absolute;
    top: 55%;
}


.columndx{
    margin: 5px 0 5px 5px;
    position: absolute;
    right: 0;
    background-image: url("../img/img-3.jpg");
    background-repeat: no-repeat;
    border-radius: 10px;
}

.entry {
    background-image: url("../img/banner-2.jpg");
    background-repeat: no-repeat;
    background-size: 250px;
    border-radius: 10px;
    height: 30em;
    width: 59%;
    margin: 5px;
    color: gray;
}

/*      FOOTER      */

.purpleform {
    height: 5em;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.heart {
    color: green;
}


