* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.roseform {
    height: 8em;
    background-color: #E579E6;
    margin-top: 25px;
    margin-bottom: 25px;
}

/*      IMPOSTAZIONE DEL MAIN       */
.clearfix::after{
    content:'';
    display: table;
    clear: both;
}

.sand-box {
    height: 25em;
    width: auto;
    background-image: url("img/banner.jpg");
    margin-bottom: 25px;
}

.azurewindows,.float {
    background-color: rgba(8, 68, 233, 0.931);
    position:relative;
}

.float {
    float: left;
}

.pediment {
    background-color: #ABCFE7;
    height: 5em;
}

.columnsx, .columndx {
    height: 30em;
    width: 14%;
}

.columnsx {
    background-color: #ABCFE7;
    margin-top: 5px;
}

.columndx{
    background-color: #ABCFE7;
    margin: 5px 0 5px 5px;
    position: absolute;
    right: 0;
}

.entry {
    background-color: #ABCFE7;
    height: 30em;
    width: 71%;
    margin: 5px;
}
/* {
    height: 20em;
    width: 5em;
    border: 5px solid black;

}*/

/*      FOOTER      */

.purpleform {
    height: 5em;
    background-color: blueviolet;
    margin-top: 10px;
    margin-bottom: 25px;
}
